body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #131313;
}

#calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #313131;
    border: 0.5rem solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc, #2c90fc, #b8fd33, #fec837, #fd1892);
    border-image-slice: 1;
}

.calculator-main-board {
    display: flex;
    flex-direction: column;
    width: 30rem;
}

#calculator-display {
    background-color: rgb(171, 234, 164);
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    padding: 5rem;
    text-align: center;
}

.calculator-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: lightslategray;
    gap: 2rem;
    flex: auto; /* Allow flexibility */
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    border: 2px solid black;
    font-size: 2rem;
    background-color: lightsteelblue;
    box-shadow: 0 .25rem #313131;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: lightgoldenrodyellow;
}

.calculator-history {
    background-color: lightcoral;
    font-size: larger;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.animate-click {
    transform: scale(1.2);
}

.equals-button {
    flex: 1;
    display: flex;
}

.equals-button button {
    flex: 1;
    height: 100%;
    font-size: 3rem;
}
footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    color: white;
}
footer p {
    display: flex;
    flex: 1;
}